body {
/*     http://api.dujin.org/bing/1920.php */
    /* https://source.unsplash.com/user/impatrickt/1920x1080 */
    /*     https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture */
    /*     https://yuezhixiong.github.io/assets/images/city_skyline.jpg */
/*     https://yuezhixiong.github.io/assets/images/spring_festival.jpg */
    background-image: url('http://api.dujin.org/bing/1920.php');
    background-color: #99ccff;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

input {
    width: 100%;
    padding: 12px 20px;
    /* margin: 10px 0; */
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-size: x-large;
    border: none;
}

input[type=text]:focus {
    background-image: url('https://yuezhixiong.github.io/oli_favicon.ico');
    /* background-position: 10px 10px; */
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 70px;
}

#submit {
    background-color: transparent;
    /* -webkit-border-radius: 5px; */
    border-radius: 10px;
    color: #fff;
    font-family: 'Oswald';
    font-size: large;
    /* text-decoration: none; */
    cursor: pointer;
    border: none;
    width: 10%;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 8%;
    grid-auto-rows: minmax(64px, auto);
    padding: 5%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.c1_r1 {
    grid-column: 1;
    grid-row: 1;
}

.c2_r1 {
    grid-column: 2;
    grid-row: 1;
}

.c3_r1 {
    grid-column: 3;
    grid-row: 1;
}

.c4_r1 {
    grid-column: 4;
    grid-row: 1;
}

.c5_r1 {
    grid-column: 5;
    grid-row: 1;
}

.c6_r1 {
    grid-column: 6;
    grid-row: 1;
}

.c7_r1 {
    grid-column: 7;
    grid-row: 1;
}
